/* Main Content -- Begin */
#content img {
	display: block;
	
	margin-bottom: 15px;
	margin-top: 15px;
	
	margin-left: auto;
	margin-right: auto;
}

/* Header -- Begin */
#content header {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 150px;
	
	margin-bottom: 40px;
	margin-top: 40px;
	
	text-align: center;
}

#headerBottomBorder {
	margin-left: auto;
	margin-right: auto;
	
	border-bottom: 2px solid black;
	
	width: 70%;
	height: 1%;
}
/* Header -- End */

#content p {
	line-height: 26.4px;
	
	margin-bottom: 15px;
	margin-top: 15px;
	
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
}
/* Main Content -- End */